JAVA eclipse/Progetto_medico/bin/Utente.class
JAVA eclipse/Progetto_medico/bin/Prenotazione.class
JAVA eclipse/Progetto_medico/bin/Medico.class
JAVA eclipse/Progetto_medico/bin/Ambulatorio.class
Applicazione Mobile/19 feb/Dottor House modificato P/build/
JAVA eclipse\ProgettoMedicoJPA\src\META-INF\persistence.xml
JAVA eclipse\ProgettoMedicoWeb\src\META-INF\persistence.xml