body{

background-image: url(../img/medicoBG.jpg);

background-repeat: no-repeat;
background-size: cover;
}
.filter:after{
background: rgba(101, 47, 142, 0.64) !important;
background: linear-gradient(135deg, rgba(101, 47, 0, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%)!important;
background: -moz-linear-gradient(135deg, rgba(101, 47, 0, 0.88) 0%, rgba(125, 46, 185, 0.45) 100%) !important;
background: -webkit-linear-grad !important;
}
.text-success {
  color: black;
}

.btn-danger {


  color:black;
  background-color: #ccc;
  border-color: #ccc;
}
.form-control{
    background-color: rgba(255,255,255,0.5);
    }
.btn-danger:hover{

  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;

}

.btn-success {
  color:black;
  background-color: #ccc;
  border-color: #ccc;
}
.btn-success:hover{
  color: #fff;
  background-color: #337ab7;
  border-color: #337ab7;

}
