body {
	background-image: url(../img/medicoBG.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.text-success {
	color: black;
}

.btn-danger {
	color: black;
	background-color: #ccc;
	border-color: #ccc;
}

.btn-danger:hover {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}

.btn-success {
	color: black;
	background-color: #ccc;
	border-color: #ccc;
}

.btn-success:hover {
	color: #fff;
	background-color: #337ab7;
	border-color: #337ab7;
}